/* lg */ 
@media (min-width: 1200px) {

}

/* md */
@media (max-width: 1199px) {

    .navbar-brand {
        margin-top: 5px;
    }

    .navbar-brand h2 {
        font-size: 24px;
    }

    #home-slider .hero {
        height: 680px !important;
    }

    .twitter-left-control {
        left: 50px;
    }

    .twitter-right-control {
        right: 50px;
    }
}

/* sm */
@media (max-width: 991px) {

    /* collapse navbar */
    .navbar-header {
        float: none;
    }
    .navbar-left,.navbar-right {
        float: none !important;
    }
    .navbar-toggle {
        display: block;
        border: 1px solid hsl(0, 0%, 100%);
    }
    .navbar-toggle .icon-bar {
        background-color: #fff;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-fixed-top {
        top: 0;
        border-width: 0 0 1px;
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
        margin-top: 7.5px;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .collapse.in{
        display:block !important;
    }
    /* end collapse navbar */

    .navbar-nav {
        padding-bottom: 11px;
    }

    #home-slider .hero {
        height: 600px !important;
    }

    .navbar-brand {
        margin-top: -5px;
    }

    .navbar-brand h2 {
        margin-top: 0;
    }

 	.navbar-right li a {
		font-size: 12px;
		padding-right: 10px;
	}
	.social-icons ul li {
		margin-bottom: 10px;
	}
	.price {
		font-size: 16px;
		height: 110px;
		line-height: 30px;
		width: 100%;
	}
	.price span {
		font-size: 40px;
		margin-top: 27px;
	}
	.btn-signup {
		padding: 10px 20px;
    }
    
    #whyme_img {
        height: 180px;
        width: 180px;
        background-size: 100%;
    }

    #home-slider .caption h1 {
        font-size: 40px;
    }

    #home-slider .caption p {
        font-size: 20px;
    }

    #home-slider .caption .btn-submit {
        width: 250px;
        margin: 10px 8px;
        padding: 15px;
        font-size: 22px;
    }

    h2 {
        font-size: 30px;
    }

    #whyme .text-left {
        font-size: 18px;
    }

    .carousel-inner > .item > img {
        max-width: 80%;
    }

    .twitter-left-control {
        left: 50px;
    }

    .twitter-right-control {
        right: 50px;
    }

    #twitter {
        padding: 70px 0;
    }

    #twitter-carousel .item {
        font-size: 20px;
    }

    #twitter-carousel .item br {
        margin-bottom: 16px;
    }

    #twitter-carousel .item .comment-name {
        font-size: 16px;
    }

    #twitter-carousel .item .testimonial-text::before,
    #twitter-carousel .item .testimonial-text::after {
        font-size: 40px;
    }

    .member-info h3 {
        font-size: 15px;
        margin-top: 10px;
    }

    .team-member {
        font-size: 14px;
        height: 180px;
    }

    #expertise h3 {
        font-size: 18px;
    }

    #expertise .bullet li p {
        font-size: 14px;
    }
}

/* xs */
@media (max-width: 767px) {
	body {
		font-size: 14px;
	}
	#home-slider .caption h1 {
		font-size: 40px;
	}
	#home-slider .caption {
		font-size: 15px;
		padding: 0 30px;
	}
	.left-control, .right-control {
		font-size: 20px;
		height: 30px;
		line-height: 25px;
		width: 30px;
	}
	#home-slider:hover .right-control {
		right: 15px;
	}
	#home-slider:hover .left-control {
		left: 15px;
	}
	.caption .btn-start {
		font-size: 12px;
		padding: 10px 30px;
	}
	.navbar-brand {
		padding: 0 15px 15px;
	}
	.navbar-toggle {
	  border:1px solid #fff;
	}

	.navbar-toggle .icon-bar {
	  background-color: #fff;
	}
	.navbar-right li a {
		font-size: 13px;
		padding-bottom: 8px;
		padding-top: 10px;
	}

	/*services*/
    section,
    #services {
		padding: 50px 0;
	}
	.heading {
		font-size: 14px;
		padding-bottom: 0px;
	}
	.heading h2 {
		font-size: 26px;
	}
	.service-info h3 {
		font-size: 20px;
	}
	.our-services .col-sm-4 {
		margin-bottom: 32px;
		padding-bottom: 20px;
	}
	.our-services .col-sm-4:nth-child(4), 
	.our-services .col-sm-4:nth-child(5), 
	.our-services .col-sm-4:nth-child(6) {
		padding-top: 0;
	}
    .our-services .col-sm-4:nth-child(4),
    .our-services .col-sm-4:nth-child(5){
        border-bottom: 1px solid #f2f2f2;
        padding-bottom: 50px;
    }
	.service-icon {
		font-size: 30px;
		height: 65px;
		line-height: 62px;
		width: 65px;
	}
	.our-services .col-sm-4:hover .service-icon:before {
		height: 90px;
		width: 90px;
	}
	.about-info {
		text-align: center;
		margin-bottom: 50px;
	}
	.team-member {
		margin-bottom: 0px;
	}
	.team-members .col-sm-3, 
	.pricing-table .col-sm-3, 
	#portfolio .col-sm-3, 
	.blog-posts .col-sm-4  {
		width: 50%;
		float: left;
	}
	.social-icons ul li a {
		font-size: 14px;
		height: 30px;
		line-height: 30px;
		width: 30px;
	}	
	.count .col-xs-6 {
		margin-bottom: 35px;
	}
	#features {
		min-height: 330px;
	}
	#features i {
		font-size: 35px;
	}
	#features h3 {
		font-size: 25px;
	}
	.price span {
		font-size: 50px;
		margin-top: 25px;
	}
	.price {
		font-size: 18px;
		height: 110px;
		line-height: 35px;
		width: 130px;
	}
	.single-table ul {
		margin-top: 22px;
	}
	.single-table ul li {
		font-size: 14px;
		margin-top: 15px;
	}
	.btn-signup {
		font-size: 12px;
		margin-top: 25px;
		padding: 10px 35px;
	}
	.single-table{
		margin-bottom: 40px;
		padding: 20px;
	}
	.twitter-left-control, 
	.twitter-right-control {
		top: inherit;
		bottom: 30px;
		height: 25px;
		width: 25px;
		line-height: 23px;
		font-size: 14px;
	}
	.twitter-left-control {
		left: 10%
	} 
	.twitter-right-control {
		right: 10%
	}
	#blog {
		overflow: hidden;
	}
	.entry-header h2 {
		line-height: 20px;
	}
	.blog-posts .col-sm-4 {
		margin-bottom: 35px;
	}
	.load-more {
		margin-top: 35px;
	}
	.btn-loadmore {
		font-size: 12px;
		padding: 15px 75px;
	}
	#contact-us .heading {
		padding-top: 35px;
	}
	.contact-info {
		padding-left: 0;
	}
	#footer .footer-bottom {
		text-align: center;
	}
	.footer-bottom p.pull-right {
		float: none !important;
    }
    
    .navbar-brand {
        padding: 10px 15px 0;
        margin: 0;
    }
    
    #home-slider .hero {
        height: 540px !important;
    }

    #home-slider .caption {
        top: 100px;
    }

    #home-slider .caption h1 {
        font-size: 32px;
    }

    #home-slider .caption p {
        font-size: 18px;
    }

    #home-slider .caption .btn-submit {
        width: 230px;
        margin: 10px 8px;
        padding: 12px;
        font-size: 20px;
    }

    .heading h2 {
        font-size: 24px;
        margin-bottom: 40px;
    }

    #whyme .text-left {
        font-size: 16px;
        text-align: left;
    }

    .section-border-container {
        width: 90%;
    }

    .carousel-inner > .item > img {
        max-width: 100%;
    }

    .twitter-left-control {
        left: 10px;
        top: 50%;
    }

    .twitter-right-control {
        right: 10px;
        top: 50%;
    }
    
    #btwitter {
        margin-top: 15px;
        padding: 50px 0;
    }

    #twitter-carousel .item {
        font-size: 14px;
    }

    #twitter-carousel .item .comment-name {
        font-size: 12px;
    }

    #twitter-carousel .item br {
        margin-bottom: 0px;
    }

    #twitter-carousel .item .testimonial-text::before,
    #twitter-carousel .item .testimonial-text::after {
        font-size: 30px;
    }

    #twitter-carousel .item .testimonial-text::before {
        margin-top: -10px;
    }

    #twitter-carousel .item .testimonial-text::after {
        margin-top: -8px;
    }

    #expertise .bullet {
        padding-left: 20px;
        margin-top: 40px;
        margin-bottom: 40px;
    }

    #accordionFaq .btn.btn-link {
        font-size: 16px;
    }

    #accordionFaq .card-body {
        font-size: 14px;
    }

    .rates-text {
        text-align: center;
        font-size: 16px;
    }
    
    .text-highlight {
        font-size: 16px;
    }

    .table-rates th {
        font-size: 16px;
    }

    .heading .btn-submit {
        padding: 14px 0;
        font-size: 20px;
        max-width: 354px;
        margin-left: auto;
        margin-right: auto;
    }

    .table-responsive {
        border: none;
    }

    #contact-us p.contact-notice {
        margin-bottom: 30px;
    }

    #clients .section-border-container {
        bottom: -50px;
    }

    #twitter {
        padding: 60px 0;
    }

    .team-member {
        min-height: 180px;
        height: auto;
    }

    #expertise .bullet.bmm {
        margin-top: 40px;
    }
}

@media (max-width: 576px) {

    #home-slider .hero {
        height: 660px !important;
    }

    .xs-full-width {
        width: 100%;
        margin-left: 0;
    }
}

/* XS Portrait */
@media (max-width: 479px) {

    #twitter-carousel .item {
        padding-left: 30px;
        padding-right: 30px;
    }
	/* .team-members .col-sm-3, 
	.pricing-table .col-sm-3, 
	#portfolio .col-sm-3, 
	.blog-posts .col-sm-4 {
		width:100%;
		float: none;
	} */
}

